@font-face {
    font-family: a7x_font;
    src: url(adler.ttf);
}

.name{
    color:white;
}

*
{
    font-family: a7x_font;    
}

.btn-download{
    color: white;
    background-color: maroon!important;
}

.logo{
    width: 200px;
    border-color:white;
    border: 1px;
}

.masthead{
    background: black !important;
}


@media (max-width: 575px) { 
    .name{
        font-size: 40px;
    }
    .logo{
        width: 100px;
    }
    nav{
        font-size: .5em;
      } 

    ul {
      display: block;
    }
     
    nav ul li {
      display: block;
    }
    p{
        font-size: .5em;
    }
}


@media (min-width: 576px) and (max-width: 767px) { 
    .name{
        font-size: 60px;
    }
    .logo{
        width: 150px;
    }

}


@media (min-width: 768px) and (max-width: 991px) {    
     .name{
    font-size: 40px;
}
.logo{
    width: 150px;
}

}
@media (min-width: 992px) and (max-width: 1199px) { 
    .name{
        font-size: 50px;
    }
    .logo{
        width: 100px;
    }
    
}


@media (min-width: 1200px) {
    .name{
        font-size: 60px;
    }
    .logo{
        width: 150px;
    }
    
 }



 .head_carousel{
    color:whitesmoke;
 }

 nav ul {
    margin: 0px;
    padding : 0px;
  }

  
  nav ul a {
    padding: 5px;
    list-style: none;
    text-align: center;
    border: 1px solid grey;
  }

.active-nav, .active-nav a{
    color: maroon;
    background-color: grey;
  }
  
  nav ul a:first-child {
    border-left: none;
  }
  nav ul a:last-child {
    border-right: none;
  }
  
  nav ul a{
    display: block;
    color:rgb(61, 60, 60);
    padding: 10px 0;
    font-family: a7x_font;
  }
  

  nav {
    display: table;
    table-layout: fixed;
    background-color: white!important;
  }
  
  ul {
    display: flex;
    flex-direction: row;
  }
  

  nav ul a:hover{
    color:black;
  }


  .container-fluid .row .col-12 .card .card-footer a:hover{
    color: darkslategray;
}


  ul a {
      flex-grow: 1;
  }

  body {
    background-image: url("back.jpg");
    background-attachment: fixed;
    background-position: left;
}
  .row-head
  {
      padding: 20px;
      background-color: indianred;
  }

  .carousel, .slide,  .carousel .carousel-inner,  .carousel .carousel-item,  .carousel .carousel-item img,  .carousel .carousel-control {
    border-radius: 12px;
    overflow: hidden;
  }

  
  .carousel-item{
    padding: 2px;
    box-shadow: inset 0 0 20rem maroon;
}

.card-header
{
    height: 60px;
    text-align: center;
    background-color: black!important;
    color: whitesmoke;
}

.card {
    margin: 8px;
   }

.card-footer a{
 color: maroon;
}


a{
    text-decoration: none !important;
}
