.card-body{
    padding:0px !important;
}

.card{
    margin:30px !important;
}

.card-header
{
    background-color: grey !important;
    color:maroon !important;
}


.header{
    background-color: grey;
    color:maroon;
    border-radius: 12px;
    height: 50px;
    padding: 10px;
}

.header a{
    color:maroon!important;
}

.header a:hover{
    color:white!important;
}